<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm password</title>
    <!--Google Fonts-->
    <link href="'https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&display=swap'">
    <!--Stylesheet-->
    <link rel="stylesheet" href="/static/styles/style_confirmPassword.css">
    <script src="script.js"></script>
</head>
<body>
    <form>
         <label for="0001">Password</label>
         <input type="password" id="0001" placeholder="New password">
         <label for="0002">Confirm Password</label>
         <input type="password" id="0002" placeholder="Confirm password"><br><br>
         <div class="show-password">
         <input type="checkbox" onclick="showPassword()">Show Password
         <script>src="{{ url_for('static', filename='script.js') }}"</script></div>
          <p id="message"></p>
          <button onclick="checkPassword()">SUBMIT</button>
         
    </form>
</body>
</html>
