<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm password</title>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/style_confirmPassword.css">
</head>
<body>
    <form onsubmit="return checkPassword()">
        <label for="0001">Password</label>
        <input type="password" id="0001" placeholder="New password">
        <label for="0002">Confirm Password</label>
        <input type="password" id="0002" placeholder="Confirm password"><br><br>

        <div class="show-password">
            <input type="checkbox" onclick="showPassword()">Show Password
        </div>

        <p id="message"></p>
        <button type="submit">SUBMIT</button>
    </form>

    <script>
        function showPassword() {
            var x = document.getElementById("0002");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }

        function checkPassword() {
            var pass1 = document.getElementById("0001").value;
            var pass2 = document.getElementById("0002").value;

            if (!pass1 || !pass2) {
                alert("Either Password box or Confirm Password box cannot be null");
                return false; // prevent form submission
            }

            if (pass1 !== pass2) {
                alert("Passwords do not match");
                return false;
            }

            if (pass1 == pass2) {
                alert("Passwords match. ");
                return true; //allow form submission
            }


            return false; // don't allow form submission
        }
    </script>
</body>
</html>
