<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="/static/styles/style_register.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <form action="/action_page.php">
     <div class="container">
           <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <br>

    <div class="#email"><b>Email</b>
              <div class="input-box"></div>
              <input type="text" placeholder="Enter Email" name="email" id="email" required>
    </div>
    <div class="#password"><b>Password</b>
              <div class="input-box"></div>
              <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
    </div>
    <div class="#psw-repeat"><b>Repeat Password</b>
              <div class="input-box"></div>
              <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
    </div>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
             <div class="register">
      <button type="submit" class="registerbtn">Register</button>
    </div>

    <div class="containersignin">
             <p>Already have an account? <a href="LoginInterface.html">Sign in</a>.</p>
    </div>
  </form>
</body>
</html>
