*,
*:before
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;

}
body{
    height: 100vh;
    background-image: url(/static/styles/Image/cover_1604293522.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background:linear-gradient(
        45deg,
        #1E90FF
        #00BFFF        
        
    );
}
form{
    background-color: aliceblue;
    width: 400px;
    padding: 40px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left: 50%;
    border-radius: 20px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.15);
}
label{
    font-weight: 500;
    color: black;    
}
input{
    display: block;
    width: 95%;
    margin-top: 5px;
    padding: 12px;
    border-radius: 5px;
    outline: none;
    color: black; 
 
}
#password{
    margin-bottom: 20px;
}
input[type="password"]{
    border: 2px solid #c2c2c2;

}
button{
    background-color: #00BFFF;
    display: block;
    margin-top: 5px;
    width: 100%;
    padding: 20px;
    border: none;
    color: aliceblue;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 16px;
}
p{
    font-size: 15px;
    margin: 15px 0;
    color: aliceblue;
    padding: 5px 10px;
}

.show-password {
    float: left; 
    margin-left: 0; 
    padding: 10px 5px; 

  }